
#define COMBO_LAYER(NAME, BINDINGS, KEYPOS, LAYERS) \
  ZMK_COMBO_5(combo_##NAME, BINDINGS, KEYPOS, LAYERS,50)

#define COMBO_ANY(NAME, BINDINGS, KEYPOS) \
  COMBO_LAYER(combo_##NAME, BINDINGS, KEYPOS, ALL)

COMBO_ANY(switch_layer, &mo l_conf, RM1 RM2 RM3 RM4)
COMBO_ANY(delete_combo, &m_select_and_delete, RH0 LH0)
COMBO_ANY(mouse_tog, &tog l_mouse, LH0 LH1)

// COMBO_LAYER(e-acute-hd, &kp FR_E_ACUTE, VM2 VM3, l_alpha)
COMBO_LAYER(a-hat-hd,   &typeAhat, VM3 VT3, l_alpha)
COMBO_LAYER(e-hat-hd,   &typeEhat, VM2 VT2, l_alpha)
COMBO_LAYER(i-hat-hd,   &typeIhat, VM1 VT1, l_alpha)
COMBO_LAYER(o-hat-hd,   &typeOhat, VM1 VB1, l_alpha)
COMBO_LAYER(u-hat-hd,   &typeUhat, VM2 VB2, l_alpha)
    
COMBO_LAYER(typeQu_apos, &Qu_apos,      VT3 VT4, l_alpha)
COMBO_LAYER(typeZ, &kp FR_Z,            CB3 CB2, l_alpha)
COMBO_LAYER(typeJ, &kp FR_J,            CT2 CT3, l_alpha)
