
/ {
    keymap {
        compatible = "zmk,keymap";

        l_alpha {											
            display-name = "HD-Vb";										
            bindings = <										
                INVERT(&question_excl	,&CmmaSemi	,&DotColn	,&apos_quotes	,&HashDllr	,&kp FR_J	,&kp FR_G	,&ak2_m	,&ak2_w	,&ak2_x)
                INVERT(&hrm_h LCTRL H 	,&hml RALT FR_A	,&hml RSHFT FR_E	,&hml RGUI FR_I	,&kp BACKSPACE	,&ak2_k	,&hrm_t LGUI FR_T	,&hmr LSHFT FR_N	,&hrm_c LALT FR_C	,&hmr LCTRL FR_S)
                INVERT(&kp FR_F 	,&kp FR_Y	,&kp FR_O	,&kp FR_U	,&MinusPlus	,&kp FR_V	,&kp FR_D	,&kp FR_L	,&ak2_p	,&ak2_b)
                            &sk_shift_caps_word	&lt l_nav1 FR_R	&space_delete 0 SPACE	&sltog l_sym l_sym
            >;											
        };											
	
        Symbols {
            display-name = "l_sym";
            bindings = <
                &kp FR_GRAVE	&pair_bkt	&pair_brc	&m_pair_par	______	______	&kp FR_RIGHT_PARENTHESIS	&kp FR_RIGHT_BRACE	&kp FR_RIGHT_BRACKET	&kp FR_ASTERISK
                &kp FR_DLLR     &kp FR_UNDER	&kp FR_MINUS	&kp FR_EQUAL	&kp FR_LESS_THAN	&kp FR_GREATER_THAN	&kp FR_SLASH	&kp FR_PIPE	&kp FR_BACKSLASH	&kp FR_AT	
                &kp FR_EURO     &kp FR_EXCL	&kp FR_PLUS	&kp FR_HASH	______	&kp FR_TILDE	&kp FR_PERCENT	&kp FR_CARET	&kp FR_QUESTION	&kp FR_AMPS
                            ______	&sltog l_num l_num	&to 0	______
            >;
        };

        Numbers {
            display-name = "l_num";
            bindings = <
                ______	______	______	______	______	&kp FR_COMMA	&kp FR_N7	&kp FR_N8	&kp FR_N9	&kp FR_STAR
                ______	______	______	______	______	&kp FR_DOT	    &kp FR_N4	&kp FR_N5	&kp FR_N6	&kp FR_PLUS
                ______	______	______	______	______	&kp FR_N0	    &kp FR_N1	&kp FR_N2	&kp FR_N3	&kp FR_FSLH
                                        ______	______	    ______  ______
            >;
        };

        Nav2 {
            bindings = <
                ______	______	______	______	______	______	______	&kp UP	______	______
                ______	______	______	______	______	______	&kp LEFT	&kp DOWN	&kp RIGHT	______
                ______	______	______	______	______	______	______	______	______	______
                            ______	______	______	______
            >;
        };

        Nav {
            bindings = <
                &kp ESCAPE	&kp BACKSPACE	______	______	______	______	______	&kp UP	______	______
                &kp LG(FR_A)	&kp LS(TAB)	&kp TAB	&kp ENTER	______	______	&kp LEFT	&kp DOWN	&kp RIGHT	______
                &kp LG(FR_Z)	&kp LG(FR_X)	&kp LG(FR_C)	&kp LG(FR_V)	&kp LS(LG(FR_V))	______	______	______	______	______
                            ______	______	______	______
            >;
        };

        Config {
            bindings = <
                &bootloader	&bt BT_DISC 0	&bt BT_DISC 1	&bt BT_DISC 2	&bt BT_DISC 3	______	______	______	______	______
                ______	&bt BT_SEL 0	&bt BT_SEL 1	&bt BT_SEL 2	&bt BT_SEL 3	______	______	______	______	______
                ______	&bt BT_CLR	______	______	______	______	______	______	______	______
                            ______	&to 0	&to 0	______
            >;

        };

    };
};
