
/ {
    keymap {
        compatible = "zmk,keymap";

        l_alpha {											
            display-name = "HD-Vb";										
            bindings = <	
                INVERT(&kp FR_W,	&kp FR_F,	&ak_c,	&ak_g,	&kp FR_K,	&question_excl,	&apos_quotes,	&DotColn,	&ak_comma,	&ak_j)
                INVERT(&hrm_s LCTRL FR_S,	&hmc LALT FR_N,	&hrm_d LSHFT FR_D,   &hrm_t LGUI T,	&kp FR_V,	&kp ENTER,	&hmv RGUI FR_I,	&hmv RSHFT FR_E,	&hmv RALT FR_A,	&hrm_h LCTRL H)
                INVERT(&ak_x,	&kp FR_M,	&kp FR_P,	&kp FR_L,	&kp FR_B,	&MinusPlus,	&kp FR_U,	&kp FR_O,	&kp FR_Y,	&kp FR_K)
                           &shift_capsword	&kp SPACE	&kp FR_R	&aug_sym
            >;											
        };	

        Augmented {       // Toogle
            bindings = <
                ______	______	______	______	______	______	______	______	______	______	
                ______	______	______	______	______	______	______	______	______	______	
                ______	______	______	______	______	______	______	______	______	______	
                ______	______	______	______
            >;											 
        };	
	
        Symbols {       // mo and sticky
            display-name = "l_sym";
            bindings = <
                &kp FR_GRAVE	&pair_bkt	&pair_brc	&m_pair_par	______	______	&kp FR_RIGHT_PARENTHESIS	&kp FR_RIGHT_BRACE	&kp FR_RIGHT_BRACKET	&kp FR_ASTERISK
                &kp FR_DLLR     &kp FR_UNDER	&kp FR_MINUS	&kp FR_EQUAL	&kp FR_LESS_THAN	&kp FR_GREATER_THAN	&kp FR_SLASH	&kp FR_PIPE	&kp FR_BACKSLASH	&kp FR_AT	
                &kp FR_EURO     &kp FR_EXCL	&kp FR_PLUS	&kp FR_HASH	&kp FR_PERCENT	&kp FR_TILDE	&kp FR_PERCENT	&kp FR_CARET	&kp FR_QUESTION	&kp FR_AMPS
                            ______	&tog l_num	&to l_alpha	______
            >;
        };

        Numbers {
            display-name = "l_num";
            bindings = <
                // ______	&kp FR_COMMA	&kp FR_DOT	______	______	&kp FR_COMMA	        &kp FR_N7	&kp FR_N8	&kp FR_N9	&kp FR_STAR
                // &kp FR_DLLR     &kp FR_UNDER	&kp FR_MINUS	&kp FR_EQUAL	&kp FR_LESS_THAN	&kp FR_GREATER_THAN	    &kp FR_N4	&kp FR_N5	&kp FR_N6	&kp FR_PLUS
                // &kp FR_EURO     &kp FR_EXCL	&kp FR_PLUS	&kp FR_HASH	&kp FR_PERCENT	        &kp FR_N0	    &kp FR_N1	&kp FR_N2	&kp FR_N3	&kp FR_FSLH
                //                         ______	______	            &to l_alpha     &kp FR_N0
                ______	&kp FR_COMMA	&kp FR_DOT	&m_pair_par	______	______	______	______	______	______	
                &kp FR_N3    &kp FR_N2    &kp FR_N1     &kp FR_N0    &kp FR_N4    &kp FR_N9    &kp FR_N5    &kp FR_N6    &kp FR_N7    &kp FR_N8
                ______	______	______	______	______	______	______	______	______	______	
                                        ______	______	&to l_alpha	&kp LEFT
            >;
        };


        Mouse {     // sticky
            display-name = "l_mouse";
            bindings = <
                &kp ESCAPE	&kp BACKSPACE	______	______	______	                                                      &kp FR_N9     &kp FR_N5  	&kp FR_N6   &kp FR_N7	&kp FR_N8
                &hmr_nav LCTRL LG(FR_A)	&hmr_nav LALT LS(TAB)	&hmr_nav LSHFT TAB   &hmr_nav LGUI ENTER ______   &kp FR_N4	    &kp FR_N0	&kp FR_N1	&kp FR_N2	&kp FR_N5 
                &kp LG(FR_Z)	&kp LG(FR_X)	&kp LG(FR_C)	&kp LG(FR_V)	&kp LS(LG(FR_V))	              &kp FR_EQUAL	    &kp FR_SLASH	&kp FR_PLUS	&kp FR_MINUS	&kp FR_ASTERISK
                            ______	&slmo l_sym l_sym	&to l_alpha	______
            >;
        };

        Nav {       // Toogle
            bindings = <
                ______	______	______	______	______	                    ______	______	UP	    ______	______	
                ______	______	______	______	______	______	LEFT	DOWN	RIGHT	______	
                ______	______	______	______	______	                    ______	______	______	______	______	
                                ______	______	______		______	
            >;
        };

        Config {
            bindings = <
                &bootloader	&bt BT_DISC 0	&bt BT_DISC 1	&bt BT_DISC 2	&bt BT_DISC 3	______	______	______	______	______
                ______	&bt BT_SEL 0	&bt BT_SEL 1	&bt BT_SEL 2	&bt BT_SEL 3	______	______	______	______	______
                ______	&bt BT_CLR	______	______	______	______	______	______	______	______
                            ______	&to 0	&to 0	______
            >;

        };

    };
};
