
/ {
    keymap {
        compatible = "zmk,keymap"; 
        l_alpha {											
            display-name = "HD-Vb";							
            bindings = <	
                INVERT(&kp FR_W,	&kp FR_F,	&ak_c,	&ak_g,	&kp FR_K, &kp RIGHT,	&DotColn,	&kp BACKSPACE,	&kp FR_COMMA,	&lk_qu FR_Q 0)
                INVERT(&kp FR_S,	&kp FR_N,	&hmc LGUI T, &ak_d,   &kp FR_V,	&kp ENTER,	&hmv RGUI FR_I,	&hrm_e RSHFT FR_E,	&hmv RALT FR_A,	&ak_apos)
                INVERT(&kp FR_X,	&kp FR_B,&ak_m,		&kp FR_P, 	&kp FR_H,	&MinusPlus,	&kp FR_U,	&kp FR_O,	&kp FR_Y, &ak_magic2)
                                &shift_capsword   	&ltm l_mouse SPACE	&ltm l_nav FR_R	&ltm l_sym FR_L  // &slmo l_sym l_sym
            >;											
        };

        Shifted{
            display-name = "Shift";										
            bindings = <
                INVERT(&kp LS(FR_W),	&kp LS(FR_F),	&kp LS(FR_C),	&kp LS(FR_G),	&kp LS(FR_K),	______,     ______,         ______,         ______,         &kp LS(FR_J))
                INVERT(&kp LS(FR_S),	&kp LS(FR_N),	&kp LS(FR_D),	&kp LS(FR_T),	&kp LS(FR_V),	______,     &kp LS(FR_I),	&kp LS(FR_E),	&kp LS(FR_A),	&kp FR_APOS)
                INVERT(&kp LS(FR_X),	&kp LS(FR_M),	&kp LS(FR_P),	&kp LS(FR_L),	&kp LS(FR_B),	______, 	&kp LS(FR_U),	&kp LS(FR_O),	&kp LS(FR_Y),	______)
                                                                        &caps_word	    &none	        &kp LS(FR_R) &slmo l_sym l_sym
            >;	
        };

        Augmented {       // Toogle
            bindings = <
                &grave_tilde	&kp FR_C_CEDILLA	______	______	______	______	______	&Ch	______	&Wh
                &caret_trema	&kp FR_A_GRAVE	&kp FR_E_ACUTE	&kp FR_E_GRAVE	______	______	______	______  &kp FR_Z	______
                ______	______	&typeOhat	&kp FR_U_GRAVE	______	______	______	______	&kp FR_EURO	&kp FR_DOLLAR
                                        &slmo l_sym l_sym	&tog l_nav	&to l_alpha	______	
            >;
        };
	
        Symbols {       // mo and sticky  
            display-name = "l_sym";
            bindings = <
                &kp FR_GRAVE	&pair_bkt	&pair_brc	&m_pair_par	______	______	&kp FR_RIGHT_PARENTHESIS	&kp FR_RIGHT_BRACE	&kp FR_RIGHT_BRACKET	&kp FR_ASTERISK
                &kp FR_DLLR     &kp FR_UNDER	&kp FR_MINUS	&kp FR_EQUAL	&kp FR_LESS_THAN	&kp FR_GREATER_THAN	&kp FR_SLASH	&kp FR_PIPE	&kp FR_BACKSLASH	&kp FR_AT	
                &kp FR_EURO     &kp FR_EXCL	&kp FR_PLUS	&kp FR_HASH	&kp FR_PERCENT	&kp FR_TILDE	&kp FR_PERCENT	&kp FR_CARET	&kp FR_QUESTION	&kp FR_AMPS
                            ______	&tog l_num	&to l_alpha	______
            >;
        };
        
        Numbers {
            display-name = "l_num";
            bindings = <
                ______	&kp FR_COMMA		______ &kp FR_DOT	______	______	&kp FR_RIGHT_PARENTHESIS	______	______	______	
                &kp FR_N3    &kp FR_N2    &kp FR_N1     &kp FR_N0    &kp FR_N4    &kp FR_N9    &kp FR_N5    &kp FR_N6    &kp FR_N7    &kp FR_N8
                &kp FR_DLLR	&kp FR_MINUS	&kp FR_PLUS	&kp FR_EQUAL	&kp FR_LESS_THAN	&kp FR_GREATER_THAN	&kp FR_SLASH	______	______	&kp FR_ASTERISK	
                                        &to l_alpha	&lt l_mouse SPACE	&mo l_nav	&slmo l_sym l_sym
            >;
        };


        Mouse {     // sticky
            display-name = "l_mouse";
            bindings = <
                &kp ESCAPE	&kp HYPER(TAB)	&kp META(TAB)	______	&kp LG(LS(SPACE))	            &kp LG(LA(LC(FR_A))) &kp LG(LA(LC(FR_B))) &kp LG(LA(LC(FR_C))) &kp LG(LA(LC(FR_D))) &kp LG(LA(LC(FR_E))) 
                &kp LG(FR_A)	&kp LS(TAB)	&kp TAB   &kp LG(SPACE) ______                          &kp LG(LA(LC(FR_F))) &kp LG(LA(LC(FR_G))) &kp LG(LA(LC(FR_H))) &kp LG(LA(LC(FR_I))) &kp LG(LA(LC(FR_J))) 
                &kp LG(FR_Z)	&kp LG(FR_X)	&kp LG(FR_C)	&kp LG(FR_V)	&kp LS(LG(FR_V))    &kp LG(LA(LC(FR_K))) &kp LG(LA(LC(FR_L))) &kp LG(LA(LC(FR_M))) &kp LG(LA(LC(FR_N))) &kp LG(LA(LC(FR_O))) 
                            &to l_alpha	&tog l_mouse	&to l_alpha	______
            >;
        };

        Nav {            // Toggle
            bindings = <
                &kp ESCAPE	______	______	______	______	                     ______	______	&kp UP	    ______	______	 
                &kp LCTRL   &hmr_nav LALT LS(TAB)	&hmr_nav LSHIFT TAB	&hmr_nav LGUI SPACE	&kp ENTER	 ______	&kp LEFT	&kp DOWN	&kp RIGHT	______	
                ______	______	______	______	______	             ______	______	&kp FR_B	______	______	       	
                                ______	______	&to l_alpha	______	
            >;
        };

        Config {
            bindings = <
                &bootloader	&bt BT_DISC 0	&bt BT_DISC 1	&bt BT_DISC 2	&bt BT_DISC 3	______	______	______	______	______
                &studio_unlock	&bt BT_SEL 0	&bt BT_SEL 1	&bt BT_SEL 2	&bt BT_SEL 3	______	______	______	______	______
                ______	&bt BT_CLR	______	______	______	______	______	______	______	______
                            ______	______	&to l_alpha	______
            >;

        };

    };
};