 
ZMK_MACRO(Sch,
        wait-ms = <10>;
        tap-ms = <10>;
        bindings = <&macro_tap &kp FR_S>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp RSHFT>
                , <&macro_tap &kp FR_C &kp FR_H>
        ;
)
ZMK_MACRO(Tch,
        wait-ms = <10>;
        tap-ms = <10>;
        bindings = <&macro_tap &kp FR_T>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp RSHFT>
                , <&macro_tap &kp FR_C &kp FR_H>
        ;
)

ZMK_MACRO(Th,
        wait-ms = <10>;
        tap-ms = <10>;
        bindings = <&macro_tap &kp FR_T>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp RSHFT>
                , <&macro_tap &kp FR_H>
                ;
)

    ZMK_MACRO(pairDquo,
        wait-ms = <50>; // need to slow this down for some systems.
        bindings = <&kp LA(LBKT) &kp LS(LA(LBKT)) &kp LEFT>
                ;
        )
    ZMK_MACRO(pairLtGt,
        wait-ms = <50>; // need to slow this down for some systems.
        bindings = <&kp LT &kp GT &kp LEFT>
                ;
        )
    ZMK_MACRO(pairPar,
        wait-ms = <50>; // need to slow this down for some systems.
        bindings = <&kp LPAR &kp RPAR &kp LEFT>
                ;
        )
    ZMK_MACRO(pairBrc,
        wait-ms = <50>; // need to slow this down for some systems.
        bindings = <&kp LBRC &kp RBRC &kp LEFT>
                ;
        )
    ZMK_MACRO(pairBkt,
        wait-ms = <50>; // need to slow this down for some systems.
        bindings = <&kp LBKT &kp RBKT &kp LEFT>
                ;
        )
    ZMK_MACRO(dot_ak,
        wait-ms = <50>; // need to slow this down for some systems.
        bindings = <&macro_tap &kp FR_DOT>
                , <&sl l_akDot>;
        )
    ZMK_MACRO(dotcom,
        wait-ms = <50>; // need to slow this down for some systems.
        bindings = <&kp FR_C &kp FR_O &kp FR_M>
                ;
        )
    ZMK_MACRO(dotedu,
        wait-ms = <50>; // need to slow this down for some systems.
        bindings = <&kp FR_E &kp FR_D &kp FR_U>
                ;
        )



