/*
*
* Copyright (c) 2021 lowprokb.ca
* SPDX-License-Identifier: MIT
* 
*/
#define COMBO_LAYER(NAME, BINDINGS, KEYPOS, LAYERS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
    timeout-ms = <45>; \
};
#define COMBO_ANY(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    timeout-ms = <45>; \
};

combos {
  compatible = "zmk,combos";

  COMBO_ANY(switch-layer, &mo l_config, RH1 RH2)

  // accent combos
  COMBO_LAYER(a-acute, &kp FR_A_GRAVE,LT4 LM4, l_default)
  COMBO_LAYER(e-grave, &kp FR_E_GRAVE, LT2 LM2, l_default)
  COMBO_LAYER(u-grave, &kp FR_U_GRAVE, LT0 LM0, l_default)
  COMBO_LAYER(e-acute, &kp FR_E_ACUTE, LM2 LB2, l_default)

  COMBO_LAYER(a-acute-hd, &kp FR_A_GRAVE, RM0 RM1, ls_hd)
  COMBO_LAYER(e-grave-hd, &kp FR_E_GRAVE, RM1 RM2, ls_hd)
  COMBO_LAYER(e-acute-hd, &kp FR_E_ACUTE, RM2 RM3, ls_hd)
  COMBO_LAYER(u-grave-hd, &kp FR_U_GRAVE, RB0 RB1, ls_hd)
  COMBO_LAYER(a-hat-hd,   &typeAhat, RM1 RT1, ls_hd)
  COMBO_LAYER(e-hat-hd,   &typeEhat, RM2 RT2, ls_hd)
  COMBO_LAYER(i-hat-hd,   &typeIhat, RM3 RT3, ls_hd)
  COMBO_LAYER(o-hat-hd,   &typeOhat, RM2 RB2, ls_hd)
  COMBO_LAYER(u-hat-hd,   &typeUhat, RM1 RB1, ls_hd)
      

  COMBO_LAYER(typeQ, &lk_qu FR_Q FR_U,      LT3 LT1, ls_hd)
  COMBO_LAYER(typeZ, &kp FR_Z,           LM3 LM1, ls_hd)

  //
  // H Digraphs REQUIRE macros (defined earlier) to process
  //
  COMBO_LAYER(sch, &Sch,  LM4  LM3 LM2, ls_hd) // Sch
  COMBO_LAYER(tch, &Tch,  LM4  LM3 LM1, ls_hd) // Tch
  COMBO_LAYER(th,  &lk_th H T, LM2 LM1, ls_hd) // Th/sion
  COMBO_LAYER(ch,  &Ch,        LM3 LM2, ls_hd) // Ch
  COMBO_LAYER(wh,  &Wh,        LT3 LT2, ls_hd) // Wh
  COMBO_LAYER(sh,  &lk_sh H S, LM4 LM3, ls_hd) // Sh/sion
  COMBO_LAYER(gh,  &lk_gh H G, LT2 LT1, ls_hd) // Gh/gh
  COMBO_LAYER(ph,  &Ph,        LB3 LB1, ls_hd) // Ph


  #ifdef EN_PRONOUN_COMBOS
      //
      // Pronoun combos REQUIRE macros to process
      //

      // COMBO_LAYER(pnI, &typePnI,          RM3 RM4, l_alpha) // "I "

      COMBO_LAYER(pnIm, &typePnIm,        RM3 LT2, l_alpha) // "I'm "
      COMBO_LAYER(pnIll, &typePnIll,      RM3 LB2, l_alpha) // "I'll "
      COMBO_LAYER(pnId, &typePnId,        RM3 LB1, l_alpha) // "I'd "
      COMBO_LAYER(pnIve, &typePnIve,      RM3 LB0, l_alpha) // "I've "

      //COMBO_LAYER(pnYour,  &typePnYour,   RB3 LH1, l_alpha) // "Your "
      COMBO_LAYER(pnYoure, &typePnYoure,  RB3 LB3, l_alpha) // "You're "
      COMBO_LAYER(pnYoull, &typePnYoull,  RB3 LB2, l_alpha) // "You'll "
      COMBO_LAYER(pnYoud, &typePnYoud,    RB3 LB1, l_alpha) // "You'd "
      COMBO_LAYER(pnYouve, &typePnYouve,  RB3 LB0, l_alpha) // "You've "

      //COMBO_LAYER(pnWere, &typePnWere,    LT4 LH1, l_alpha) // "We're "
      COMBO_LAYER(pnWell, &typePnWell,    LT4 LT2, l_alpha) // "We'll "
      COMBO_LAYER(pnWed, &typePnWed,      LT4 LT1, l_alpha) // "We'd "
      COMBO_LAYER(pnWeve, &typePnWeve,    LT4 LT0, l_alpha) // "We've "

  #endif // EN_PRONOUN_COMBOS

};
