#define QUICK_TAP_MS 175

#define MAKE_HRM(NAME, HOLD, TAP, TRIGGER_POS) \
    ZMK_HOLD_TAP(NAME, \
        flavor = "balanced"; \
        tapping-term-ms = <280>; \
        quick-tap-ms = <QUICK_TAP_MS>; \
        require-prior-idle-ms = <150>; \
        bindings = <HOLD>, <TAP>; \
        hold-trigger-key-positions = <TRIGGER_POS>; \
        hold-trigger-on-release; \
    )

#define MAKE_LK(NAME, HOLD, TAP) \
    ZMK_HOLD_TAP(NAME, \
        tapping-term-ms = <my_tapping_term>; \
        flavor = "tap-preferred"; \
        bindings = <HOLD>, <TAP>; \
    )

#define MAKE_MORPH(NAME, MODS, WITHOUT_MOD, WITH_MOD) \
    ZMK_MOD_MORPH(NAME, \
        bindings = <WITHOUT_MOD>, <WITH_MOD>; \
        mods = <(MODS)>; \
    )

#define MAKE_SHIFT_MORPH(NAME, WITHOUT_MOD, WITH_MOD) \
    MAKE_MORPH(NAME, MOD_LSFT, WITHOUT_MOD, WITH_MOD)

#define ZMK_BEHAVIOR_CORE_antecedent    compatible = "zmk,behavior-antecedent-morph"; #binding-cells = <0>
#define MAKE_ADAPTIVE_KEY(name, ...)    ZMK_BEHAVIOR(name, antecedent, __VA_ARGS__)

#define MAKE_AK(NAME, DEF, BINDS, ANTS) \
        MAKE_ADAPTIVE_KEY(NAME, \
            defaults = <DEF>; \
            bindings = BINDS; \
            antecedents = ANTS; \
            max-delay-ms = <250>; \
        )

#ifdef INVERT_HD
  #define INVERT(V1,V2,V3,V4,V5,V6,V7,V8,V9,V10)	V10 V9 V8 V7 V6 V5 V4 V3 V2 V1
#else 
  #define INVERT(V1,V2,V3,V4,V5,V6,V7,V8,V9,V10)	V1 V2 V3 V4 V5 V6 V7 V8 V9 V10
#endif