/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define SMB 1

&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <200>;
};

/ {
    combos {
        compatible = "zmk,combos";

        caps_word {
            bindings = <&caps_word>;
            key-positions = <12 17>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC      &kp BSPC    &kp TAB      &kp P       &kp Y    &kp F  &kp G       &kp C        &kp R       &kp L
&mt LCTRL A  &mt LALT O  &mt LSHFT E  &mt LGUI I  &kp U    &kp D  &mt RGUI H  &mt RSHFT T  &mt RALT N  &mt RCTRL S
&kp SPACE    &kp Q       &kp J        &kp K       &kp X    &kp B  &kp M       &kp W        &kp V       &kp Z
&mo 1        &to 3                                                                         &lt 1 RET   &lt 2 SPACE
            >;
        };

        Symbols {
            bindings = <
&kp LT    &kp LBKT   &kp LBRC   &kp LPAR   &kp AT       &kp EQUAL   &kp RPAR   &kp RBRC  &kp RBKT   &kp GT
&kp APOS  &kp COMMA  &kp DOT    &kp MINUS  &kp AMPS     &kp DOLLAR  &kp QMARK  &kp EXCL  &kp PRCNT  &kp HASH
&kp DQT   &kp SEMI   &kp COLON  &kp UNDER  &kp CARET    &trans      &kp FSLH   &kp PIPE  &kp BSLH   &trans
&trans    &trans                                                                         &trans     &trans
            >;
        };

        Nav {
            bindings = <
&trans      &trans     &trans      &trans       &trans    &trans  &trans    &kp UP    &trans     &trans
&trans      &trans     &trans      &trans       &trans    &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &trans
&kp K_UNDO  &kp K_CUT  &kp K_COPY  &kp K_PASTE  &trans    &trans  &trans    &trans    &trans     &trans
&trans      &trans                                                                    &trans     &trans
            >;
        };

        Numbers {
            bindings = <
&trans  &trans     &trans   &trans     &trans    &kp EQUAL  &kp N7  &kp N8  &kp N9  &kp STAR
&trans  &kp COMMA  &kp DOT  &kp MINUS  &trans    &trans     &kp N4  &kp N5  &kp N6  &kp PLUS
&trans  &trans     &trans   &trans     &trans    &trans     &kp N1  &kp N2  &kp N3  &kp FSLH
&trans  &to 0                                                               &trans  &kp N0
            >;
        };
    };
};
